.navbar_container {
    background-color: rgb(221, 183, 120);
    display: flex;
    justify-content: space-between;
    align-items: center;


    .logo{
        padding: 0.5rem 1.5rem;
        font-size: 3rem ;
        display: flex;
        justify-content: center;
        align-items: center;
        color: red;

        .title {
            font-size: 2rem;
            padding-left: 1rem;
            text-decoration: none;
            color: black;
        }
    }

    .navbar {

        width: 40%;

            ul {
            list-style: none;
            gap: 3rem;
            display: flex;
            justify-content: center;
            align-items: center;
            padding-top: 1rem;
            
            
            a {
                font-size: 1.1rem;
                text-decoration: none;
                color: black;
            }
        }
    }
}